<div id="mcml2019">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <strong>Machine Learning Master Class</strong>
                <span class="subtitle"></span>
                <span class="venue">1:00pm 5 February // Flex Space, IMAS Waterfront</span>
                <a href="https://www.eventbrite.com.au/e/introductory-machine-learning-tickets-55003761732?aff=website" target="_blank" class="btn btn-default">Register Now</a>
            </div>
        </div>
    </div>
</div>
