<div id="wds2017">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <strong>The Women of Data and Science</strong>
                <span class="subtitle">Celebrating the achievments of influential women in data and science</span>
                <span class="venue">2:00pm 30 November 2017 // Aurora Lecture Theatre, IMAS Waterfront</span>
                <a href="https://www.eventbrite.com/e/women-of-data-and-science-tickets-39464891553?aff=website" target="_blank" class="btn btn-primary">Register Now</a>
            </div>
        </div>
    </div>
</div>
