<section id="subscribe">

    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-centered">Subscribe to DATA TAS</h2>
                <p>Be the first to hear about news and events from DT.</p>
            </div>
        </div>

        <form action="//twitter.us15.list-manage.com/subscribe/post?u=ed2707231cb1dfea612784f96&amp;id=b34615675f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>

        <div class="row">

            <div class="col-sm-12">
                <div class="input-group">
                    <input type="email" value="" name="EMAIL" class="form-control" placeholder="Your email...">
                    <div class="input-group-btn">
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
                    </div>
                </div>
            </div>

            <!-- Anti-bot code -->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ed2707231cb1dfea612784f96_b34615675f" tabindex="-1" value=""></div>

        </div>

        </form>

        <div class="row">
            <div class="col-sm-12">
                <p class="disclaimer">Don't worry, we hate spam too.</p>
            </div>
        </div>

    </div>

</section>
