<footer>

    <div class="container">

        <div class="row">
            <div class="col-xs-4">&copy; 2017 DATA TAS<br/>All rights reserved</div>
            <div class="col-xs-4 text-centered">
                <a href="https://www.facebook.com/datatasau" target="_blank" class="social"><img src="/img/icon-facebook.svg" alt=""></a>
                <a href="https://twitter.com/datatas" target="_blank" class="social"><img src="/img/icon-twitter.svg" alt=""></a>
                <a href="https://github.com/datatas" target="_blank" class="social"><img src="/img/icon-github.svg" alt=""></a>
            </div>
            <div class="col-xs-4 text-right">
                Made with <span class="glyphicon glyphicon-heart"></span> in Hobart, Tasmania<br/>by <a href="http://skygiant.com.au">SKYGIANT</a>
            </div>
        </div>
    </div>

</footer>
